orchestration/step_function_definition.json
{
  "Comment": "Unified Pipeline Orchestration - Advanced",
  "StartAt": "LoadConfig",
  "States": {
    "LoadConfig": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:load-config",
      "Next": "ValidateConfig"
    },
    "ValidateConfig": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:validate-config",
      "Next": "ResolveWindow"
    },
    "ResolveWindow": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:resolve-window",
      "Next": "FanOutClients"
    },
    "FanOutClients": {
      "Type": "Map",
      "MaxConcurrency": 10,
      "Iterator": {
        "StartAt": "RunGlueExtract",
        "States": {
          "RunGlueExtract": {
            "Type": "Task",
            "Resource": "arn:aws:states:::glue:startJobRun.sync",
            "Next": "RunDQ"
          },
          "RunDQ": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:run-dq",
            "Next": "ConditionalEnrich"
          },
          "ConditionalEnrich": {
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.enrich",
                "BooleanEquals": true,
                "Next": "RunDbt"
              }
            ],
            "Default": "Deliver"
          },
          "RunDbt": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:run-dbt",
            "Next": "Deliver"
          },
          "Deliver": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:deliver-output",
            "End": true
          }
        }
      },
      "Next": "RecordMetadata"
    },
    "RecordMetadata": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:record-metadata",
      "End": true
    }
  }
}
